In [2]:
import numpy as np
from scipy.linalg import expm, sinm, cosm
import pandas as pd
import matplotlib.pyplot as plt
import statsmodels.api as sm
import math
from scipy.special import iv
from statsmodels.tsa.arima.model import ARIMA
import altair

In [3]:
ts = np.random.normal(0,1,25)

array([ 0.94268234,  0.50826544, -0.07362215, -0.01884857, -0.98437091,
       -1.18983002, -1.46748947, -0.98314701,  1.20098566,  0.19485077,
        0.68162558,  2.32363936,  0.8308172 , -0.89649003, -1.57922082,
        0.46761354, -1.64841927, -1.45449696,  0.20545959, -0.13554928,
       -1.36335639, -0.30618637,  0.06177771, -0.36945069,  0.86932425])

In [49]:
rho = -.95
L_approx = np.zeros([12,12])

for row in range(1,12):
    L_approx[row,row-1] =1
    
filter_matrix = expm(rho*L_approx)
pd.DataFrame(L_approx)

      0    1    2    3    4    5    6    7    8    9   10   11
0   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
1   1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2   0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
3   0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4   0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
5   0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
6   0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0
7   0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0
8   0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0
9   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0
10  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0
11  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0

In [50]:
for index in range(0,len(ts)-12):
    ts[index:index+12]

In [51]:
pd.DataFrame(np.dot(L_approx,ts[-12:]))

           0
0   0.000000
1  -0.896490
2  -1.579221
3   0.467614
4  -1.648419
5  -1.454497
6   0.205460
7  -0.135549
8  -1.363356
9  -0.306186
10  0.061778
11 -0.369451

In [52]:
pd.DataFrame(ts[-12:])

           0
0  -0.896490
1  -1.579221
2   0.467614
3  -1.648419
4  -1.454497
5   0.205460
6  -0.135549
7  -1.363356
8  -0.306186
9   0.061778
10 -0.369451
11  0.869324